.AppContainer{
  display: flex;
  flex-direction: column;


}

.fullContainer{
  display: flex;
  width: 100vw;
  height: 94vh;

}

@media(max-width:800px){
  .fullContainer{
    flex-direction: column;
  }
}

.imageContainer{
  display: flex;
  flex:4;
  justify-content: center;
  align-items: center;
  background-color: blueviolet;
}

.image{
  width: 70%;
}

.sidebar{
  display: flex;
  flex: 1;
  background-color: blue;

}





