.AppContainer{
  display: flex;
  flex-direction: column;


}

.fullContainer{
  display: flex;
  height: 94vh;

}


.imageContainer{
  display: flex;
  flex:4;
  justify-content: center;
  align-items: center;
  background-color: blueviolet;
}

.image{
  width: 70%;
  object-fit: contain;
}

.sidebar{
  display: flex;
  flex: 1;
  background-color: blue;
  align-items: center;
  flex-direction: column;
}

@media(max-width:800px){
  .fullContainer{
    flex-direction: column;
    height: 100vh;
    width: 100vw;
  }
  .image{
    width: 90%;
  }
  .imageContainer{
    width: 100%;
    height: 100%;
  }
  .sidebar{
    flex-direction: row;
    flex: none;
    overflow-x: auto;
  }

}


@media(max-width:400px){

  .image{
    width: 90%;

  }
}
