*{
  margin:0;
  border:0;
  box-sizing: border-box;
}

body{
  background-color: #EBDEDE;

}

body::-webkit-scrollbar{
  width: 10px;
}

body::-webkit-scrollbar-track {
  background-color: #ddd;
}

body::-webkit-scrollbar-thumb{
  background-color: #333d;
  border-radius: 160px;
}
